main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  word-wrap: break-word;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("./assets/images/bus.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.shadow {
  background: rgba(0, 0, 0, 0.7);
}

.align {
  position: relative;
  top: 25vh;
}
